<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Formulario de contacto</title>
  <link rel="stylesheet" href="styles1.css">
  </head>


<body>  
  
  <div class="contact_form">

    <div class="formulario">      
      <h1>Formulario de Obras</h1>
          <form action="submeter-formulario.php" method="post">       
                <p>
                  <label for="nombre" class="colocar_nombre">%=user.Artista%
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="text" name="introducir_nombre" id="Artista" required="obligatorio" placeholder="Escribe tu nombre">
                </p>
              
                <p>
                  <label for="email" class="colocar_email"> %=user.Estilo %
                    <span class="obligatorio">*</span>
                  </label>
                    <input type="email" name="introducir_email" id="Estilo" required="obligatorio" placeholder="Escribe tu Estilo">
                </p>
            
                <p>
                  <label for="telefone" class="colocar_telefono">%=user.correo %
                  </label>
                    <input type="tel" name="introducir_telefono" id="correo" placeholder="Escribe el correo ">
                </p>    
              
                <p>
                  <label for="website" class="colocar_website">%=user.año %
                  </label>
                    <input type="url" name="introducir_website" id="website" placeholder="Escribe el año de la obra">
                </p>                      
              
                <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>

                <p class="aviso">
                  <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>          
            
          </form>
    </div>  
  </div>

</body>
</html>
