.contenedor{
  max-width: 1000px;
  background-color: rgba(0,0,0,.7);
  border-radius: 30px;
  padding: 50px;
  color: #fff;
}
.contenedor header{
  overflow: hidden;
}
.contenedor header h1{
  float: left;
}
.contenedor header nav{
  float: left;
}
.contenedor header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.contenedor header nav ul li{
  margin: 0 30px;
}
.contenedor header nav ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 33px;
  font-size: 14px;
  padding: 5px 10px;
  transition: .5s;
  border-radius: 20px;
}
.contenedor header nav ul li a:hover{
  background-color: #000;
  color: #fff;
}
.contenedor header .busqueda{
  float: right;
}
.contenedor header .busqueda input{
  display: inline-block;
  width: 200px;
  border: none;
  background-color: rgba(0,0,0,.4);
  padding: 7px;
  outline: none;
  color: #fff;
  border-right: 3px;
  transition: .5s;
  opacity: 0;
}
.contenedor header .busqueda:hover input{
  opacity: 1;
}
.contenedor header .busqueda i{
  cursor: pointer;
}
.logo{
  width: 30 px;
  height: 30px;
}