#clientes{
    padding: 50px 10px;
}
#clientes .contenido .fila{
    display: flex;
    justify-content: space-between;
}
#clientes .contenido .fila .col{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clientes .contenido .fila .col img{
    width: 350px;
}
.subir{
    width: 350px;
    position: relative;
    top: -20px;
}
#clientes .contenido .fila .col-historia .cliente{
    display: flex;
    margin-bottom: 20px;
 
    
    
}

#clientes .contenido .fila .col-historia .cliente img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
    -moz-border-radius: 50% #790808;
    -webkit-border-radius: 50% #790808;
   
}

#clientes .contenido .fila .col-historia .cliente h3{
    font-size: 15px;
}
#clientes .contenido .fila .col-historia .cliente i{
    font-size: 10px;
    color: #fff;
}

#clientes .contenido .fila .col-historia .cliente p{
    font-size: 12px;
    font-style: italic;
}

.titulo-seccion{
    color: #fff;
   
    
}
.resaltado-subir{
    color: #866e6e;
    border-top: solid #790808;
    align-items: center;
}
.cliente h3{
    color: #8d0505;
    align-items: center;
}
.info-cliente h5{
    color: #fff;
}
.info-cliente p{
    color: #fff;
    
}